@use 'base/variables' as v;

@mixin mobile {
   @media(min-width: v.$telefono ) {
      @content;
   }
}

@mixin tablet {
   @media(min-width: v.$tablet ) {
      @content;
   }
}

@mixin desktop {
   @media(min-width: v.$desktop) {
      @content;
   }
}

@mixin grid($colums, $spacing) {
   display: grid;
   grid-template-columns: repeat($colums, 1fr);
   gap: $spacing;
}
