@use 'base/variables' as v;
@use 'base/mixins' as m;

/* footer section */
.footer {
    background-color: v.$colorPrimario;

    &__container {
        padding: 5rem;

        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }

    &__box {
        font-family: v.$fuenteCursiva;
        text-align: center;
        margin-bottom: v.$separacion;

        @include m.tablet {
            margin-bottom: 0;
        }

        h3 {
            font-family: v.$fuenteCursiva;
            font-size: 2.4rem;
            margin: 0 0 1rem 0;
            color: v.$colorSecundario
        }

        p,
        a {
            font-size: 2rem;
            margin: 0;
        }
    }

    .copyright {
        margin: 0;
        padding: 2rem;
        text-align: center;
        color: v.$blanco;
    }

}
