@use 'base/variables' as v;
@use 'base/mixins' as m;

/* contacto section */
.contenido-contacto {

    @include m.tablet {
        @include m.grid(2, v.$separacion);

        background: {
            image: url(../img/granos_cafe.jpg);
            repeat: no-repeat;
            position: right center;
            size: 40%;
        }
    }
}

.formulario {

    .campo {
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        label {
            display: block;
            text-transform: uppercase;

            font: {
                weight: 700;
                size: 2.2rem;
            }

            color: v.$colorPrimario;
        }

        input:not([type='submit']),
        select {
            width: 100%;
            padding: 1rem;
            border: .5rem solid v.$colorPrimario;
        }

        input[type='submit'] {
            background: {
                color: v.$colorPrimario;
            }

            width: 100%;
            border: none;
            padding: 1rem;
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: v.$blanco;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
