# Node.js
node_modules/

# Build outputs
dist/
*.css.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Package lock (opcional, depende de tu equipo)
package-lock.json

# Imágenes  procesadas localmente con Gulp
11-cafeteria/build/
12-DeliveryApp/build/
14-airbnb/build/
15-realState/build/

# Prompts
prompts/
