:root {
    /* Fonts */
    --font-primary: 'Raleway', sans-serif;

    /* Colors - Palette */
    --primary: #FFF;
    --secondary: #111;
    --gray: #343a40;
}

/* Base Config */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    /* 16px */
    font-family: var(--font-primary);
    line-height: 1.8;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

/* Globales */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.btn {
    color: var(--gray);
    background-color: var(--primary);
    border: 1px solid var(--gray);
    padding: .5rem 2rem;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--gray);
    color: var(--primary);
}

/* Utilities */
.text-center {
    text-align: center;

}

.mt-5 {
    margin-top: 5rem;
}

/* header section */
.header {
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.header a {
    color: var(--primary);
    font-size: 2rem;
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 56rem;
    color: var(--primary);
}

.nombre-sitio {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

.nombre-sitio span {
    font-weight: 900;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telefono {
    display: flex;
}

.telefono::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1rem;
}

.navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.navegation a {
    padding: .5rem;
    width: 100%;
    transition: background-color .3s;
    text-align: center;
}

.navegation a:hover {
    background-color: rgb(255 255 255 / .5);
    color: var(--secondary);
}

.slogan-header {
    text-align: center;
}

.slogan-header h1 {
    font-size: 3rem;
    margin: 0;
}

.slogan-header p {
    margin: 0;
    line-height: 1;
}

@media (min-width: 992px) {

    .nombre-sitio {
        font-size: 5rem;
    }

    .bar-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contacts {
        align-items: flex-end;
    }

    .navegation {
        flex-direction: row;
    }

    .navegation a {
        padding: 1rem 2rem;
    }

    .slogan-header {
        text-align: right;
    }

    .slogan-header h1 {
        font-size: 5rem;
    }
}

/* nosotros section */
.about-us {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.content-us {
    background-color: var(--primary);
    padding: 2rem;
}

.content-us h2,
.content-us p {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .about-us {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-us {
        grid-column: 2 / 4;
    }
}

/* models section */
.models {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 5rem;
}

.models:last-of-type {
    margin-bottom: 0;
}

.content-model {
    padding: 5rem;
    background-color: var(--primary);
}

.basic-model {
    background-image: url(../img/modelo_basico.jpg);
}

.premier-model {
    background-image: url(../img/modelo_premier.jpg);
}

.elite-model {
    background-image: url(../img/modelo_elite.jpg);
}

@media (min-width: 992px) {
    .models {
        grid-template-columns: repeat(2, 1fr);
    }

    .basic-model {
        background-position: top right;
    }

    .basic-model .content-model {
        grid-row: 2 / 3;
        padding: 2rem 2rem 2rem 0;
    }

    .premier-model {
        background-position: top left;
    }

    .premier-model .content-model {
        grid-column: 2 / 3;
        padding: 2rem;
    }

    .elite-model {
        background-position: bottom right;
    }

    .elite-model .content-model {
        padding: 2rem 2rem 2rem 0;
    }
}

/* galery section */
.galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.galery img {
    object-fit: cover;
    height: 100%;
}

.galery .image:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.galery .image:nth-child(6) {
    grid-row: 2 / 4;
}

.galery .image:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

@media (min-width: 992px) {
    .galery {
        grid-template-columns: repeat(3, 1fr);
    }

    .galery .image:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .galery .image:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .galery .image:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

/* footer section */
.footer {
    height: 50rem;
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--primary);
}

.footer a {
    color: var(--primary);
    font-size: 2rem;
}

.copyright {
    background-color: var(--gray);
    text-align: center;
    margin: 5rem 0 0 0;
    padding: 1rem;
}
