@use 'base/variables' as v;
@use 'base/mixins' as m;

/* icons section */
.icons {
   margin-top: 5rem;

   &__list {

      @include m.tablet {
         @include m.grid(3, 5rem)
      }

      li {
         img {
            margin: 0 auto;
            width: 12rem;
         }

         p {
            font: {
               family: v.$fuenteCursiva;
               size: 3.2rem
            }

            color: v.$colorPrimario;
         }
      }
   }
}
