@use 'base/variables' as v;
@use 'base/mixins' as m;

/* menu section */
.nuestro-menu {
    padding: 15rem 2rem 20rem 2rem;

    background: {
        image:
            url(../img/menu_arriba.svg),
            url(../img/menu_abajo.svg),
            linear-gradient(to top, v.$colorPrimario, v.$colorPrimario);
        repeat: no-repeat;
        position: center 5rem, center 92%, 100%;
        size: 200%;
    }

    @include m.tablet {
        padding: 15rem 0 20rem 0;

        background: {
            size: 100%;
        }
    }

    @include m.desktop {
        background: {
            size: 50%, 50%, 100%;
        }
    }

    &__grid {
        @include m.tablet {
            @include m.grid(2, 2rem);
        }
    }
}

.menu {
    h3 {
        color: v.$blanco;
    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            color: v.$blanco;
            font-size: 2.3rem;
            line-height: 1.5;
            margin: 0 0 2rem 0;

            span {
                display: block;
                color: v.$colorSecundario;
            }
        }

        .precio {
            font: {
                size: 4rem;
                weight: 700;
            }
        }
    }
}
